* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
  }
  
  .register_form {
    background-color: azure;
    width: 90%;
    margin: 10px auto;
    min-height: 60%;
    padding: 10px;
    border: 1px solid  rgba(128, 128, 128, 0.445);;
  }
  .register_exception{
    color: red;
    text-align: center;
    margin: 10px auto;
  }
  .register_form h1 {
    text-align: center;
    color: rgba(128, 128, 128, 0.445);
    text-transform: uppercase;
    margin: 10px auto;
    font-size: 20px;
  }
  .register_form form{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
  }
  .register_form label{
      text-transform: uppercase;
      margin-top: 10px;
      color: gray;
  }
  .register_form label span{
      color: red
  }
  .register_form input{
      padding: 10px;
      width: 50%;
      border: 1px solid rgba(128, 128, 128, 0.308) ;
      outline: none;
      border-width: 1px;
      
  }
  .register_form input::placeholder{
    color: rgba(128, 128, 128, 0.568);
  }
  .register_form a{
    background-color: rgba(128, 128, 128, 0.514);
    padding: 10px;
    color: white;
    cursor: pointer;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
  }
  .register_form a:hover{
    background-color: aliceblue;
    border: 1px solid  rgba(128, 128, 128, 0.445);;
    color: cornflowerblue;
  }
  .register_form .box span{
    color: red;
  }
  .register_form .box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register_form input:where([type='checkbox']){
    width: 20px;
    height: 20px;
    accent-color: green;
    margin-left: 10px;
    position: relative;
    left: 2%;
    cursor: pointer;
  }
  .register_form .box p{
    position: relative;
    margin-left: 10px;
    text-align: center;
    width: 50%;
    color: grey;

 }
 .register_form p{
  color: grey;
 }
  .register_form button{
      padding: 10px;
      margin: 10px auto;
      width: 50%;
      background-color: rgba(128, 128, 128, 0.514);
      color: aliceblue;
      text-transform: uppercase;
      border: none;
      outline: none;
      cursor: pointer;
  }
  .register_form button:hover{
  background-color: aliceblue;
  border: 1px solid  rgba(128, 128, 128, 0.445);;
  color:blueviolet ;
  }